@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/ofont.ru_Rubik.ttf") format("ttf");
}

@font-face {
    font-family: "Inter";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/inter_medium.ttf") format("ttf");
}

body {
    font-family: "Rubik", "Inter";
}

a {
    text-decoration: none;
}

button {
    border: unset;
    cursor: pointer;
}

.flex {
    display: flex !important;
}

.navigation {
    justify-content: space-between;
    align-items: center;
    padding: 20px 162px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2A5F4F;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}

.nav-list {
    font-size: 24px;
    color: #2A5F4F;
    margin: 0px;
    margin-right: 40px;
}
.nav-list:last-child {
    margin-right: 0px;
}

.nav-button {
    font-family: "Inter";
    font-size: 20px;
    color: #2A5F4F;
    margin-right: 40px;
    height: 25px;
    background: none;
    border: none;
    padding: 0px;
    border-bottom: 1px solid #2A5F4F;
}

.images-contacts {
    margin-right: 20px;
}

.image-contacts {
    height: 56px;
    width: 56px;
    margin-right: 20px;
}

.nav-phone {
    align-items: center;
    margin-bottom: 10px;
}
.nav-phone:nth-child() {
    margin-bottom: 0px;
}

.nav-phone-text {
    font-family: "Inter";
    font-size: 20px;
    padding-left: 10px;
    color: #2A5F4F;
}

.nav-contact {
    align-items: center;
}

.hero {
    padding: 50px 162px 349px 162px;
    background-image: url('./images/HeroMan.png');
    background-repeat: no-repeat;
    background-position: 75% 0%;
}

.hero-image {
    height: 750px;
}

.description {
    position: relative;
    background-color: #EAF1FF;
    height: 200px;
}

.description-wrapper {
    position: absolute;
    width: 82vw;
    top: -150px;
    left: 50%;
    transform: translate(-50%);
}

.description-block {
    padding: 50px 80px;
    border-radius: 26px;
    background-color: #75ADFA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.description-p {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 32px;
    margin: 0;
    margin-bottom: 15px;
}
.description-p:nth-child() {
    margin-bottom: 0px;
}

.services {
    padding: 150px 162px 50px 162px;
    background-color: #EAF1FF;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(2, 274px);
    gap: 30px;
    grid-template-areas: 
    "card1 card2 form1"
    "card3 card4 form1";
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.form1 {
    grid-area: form1;
}

.services-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #2A5F4F;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.services-card {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #2A5F4F;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.services-price {
    justify-content: space-between;
}

.hero-pf {
    font-family: "Inter" !important;
    color: #75ADFA;
    margin: 0px;
}

.hero-location {
    align-items: center;
    margin-bottom: 30px;
}

.hero-location-image {
    height: 32px;
    width: 32px;
}

.hero-h1 {
    font-size: 64px;
    color: #75ADFA;
    margin: 0px;
}

.hero-h2 {
    font-size: 48px;
    color: #86BF88;
    margin: 0;
    margin-bottom: 30px;
}

.hero-p {
    font-family: "Inter";
    font-size: 24px;
    color: #A7A7A7;
    margin: 0;
    margin-bottom: 50px;
    width: 750px;
}

.hero-btn {
    color: #ffffff;
    font-size: 40px;
    background-color: #75ADFA;
    border-radius: 16px;
    padding: 25px;
}

.services-title {
    font-size: 32px;
    color: #2A5F4F;
    margin: 0;
    margin-bottom: 30px;
}

.services-form-title {
    text-align: center;
    font-size: 32px;
    color: #2A5F4F;
    margin: 0;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 67px;
    border-radius: 16px;
    border: 3px solid #86BF88;
    margin-bottom: 20px;
}
.form-textarea {
    overflow: hidden;
    width: 100%;
    height: 114px;
    border-radius: 16px;
    border: 3px solid #86BF88;
    margin-bottom: 20px;
    padding-top: 20px;
}

::placeholder {
    font-family: "Inter";
    font-size: 16px;
    color: #2A5F4F;
    transform: translate(20px);
}

.form-btn {
    border-radius: 10px;
    color: #fff;
    background-color: #2A5F4F;
    font-size: 24px;
    padding: 20px;
}

.services-card-title {
    font-size: 20px;
    color: #2A5F4F;
    margin: 0;
    margin-bottom: 10px;
}

.price {
    margin: 0px;
    margin-right: 20px;
    font-size: 24px;
    color: #2A5F4F;
}

.services-image {
    margin-right: 20px;
}

.services-card-wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.services-card-text {
    flex-direction: column;
    align-items: start;
}

.services-card-ul {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}

.services-card-li {
    font-family: "Inter";
    font-size: 16px;
    color: #2A5F4F;
}

.form-foto {
    margin-right: 10px;
}

.form-foto-text {
    margin: 0;
    font-family: "Inter";
    font-size: 16px;
    color: #2A5F4F;
}

.form-foto-wrapper {
    align-items: center;
    margin-bottom: 20px;
}

.advantages {
    padding: 50px 162px;
}

.advantages-blocks {
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-block {
    width: 470px;
    margin-bottom: 50px;
}

.advantages-image {
    height: 125px;
    margin-right: 20px;
}

.advantages-block-title {
    font-size: 32px;
    color: #75ADFA;
    margin: 0;
    margin-bottom: 10px;
}

.advantages-block-text {
    font-family: "Inter";
    font-size: 24px;
    color: #2A5F4F;
    margin: 0;
}

.advantages-title {
    font-size: 32px;
    color: #2A5F4F;
    margin: 0;
    margin-bottom: 50px;
}

.work {
    background-color: #f5f8ff;
    background-image: url('../public/images/work.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding: 50px 162px;
}

.work-info {
    background-color: #75ADFA;
    border-radius: 16px;
    padding: 30px 64px;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

.work-title {
    color: #fff;
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
}

.work-text {
    color: #fff;
    font-family: "Inter";
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.work-btn {
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 20px;
    background-color: #75ADFA;
    color: #FFFFFF;
    font-size: 24px;
}

.work-wrapper {
    margin-bottom: 70px;
}

.work-info-title {
    font-size: 36px;
    color: #75ADFA;
    width: 580px;
}

.photo {
    padding: 50px 162px;
    background-image: url('./images/background-photo.png');
    background-position: 15%;
    background-repeat: no-repeat;
}

.photo-info {
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.photo-title {
    font-size: 32px;
    color: #2A5F4F;
    margin: 0;
    margin-bottom: 50px;
}

.photo-p {
    width: 600px;
    font-family: "Inter";
    color: #2A5F4F;
    font-size: 24px;
    margin: 0;
}

.photo-info-wrapper {
    flex-direction: column;
    justify-content: space-between;
}

.photo-info-title {
    font-size: 32px;
    color: #86BF88;
    margin: 0;
    margin-bottom: 10px;
}

.pfoto-btn {
    background-color: transparent;
}

.locations {
    padding: 50px 162px;
    background-image: url('./images/map.png');
    background-position: 78%;
    background-repeat: no-repeat;
}

.form-wrapper {
    width: 382px;
}

.footer-link {
    flex-direction: column;
}

.footer-title {
    margin: 0;
    margin-bottom: 20px;
    color: #2A5F4F;
    font-size: 32px;
}

.footer-contacts {
    margin: 0;
    margin-bottom: 10px;
}

.footer-text {
    color: #2A5F4F;
    font-size: 24px;
    font-family: "Inter";
    margin: 0;
    margin-bottom: 10px;
}

.footer {
    padding: 50px 162px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #2A5F4F;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.25);
}

.footer-wrapper {
    margin-bottom: 30px;
    margin-right: 30px;
}

.reviews {
    padding: 50px 162px;
}

.review-wrapper {
    justify-content: space-between;
}

.review {
    padding: 30px;
    background-color: #EAF1FF;
    border-radius: 16px;
    width: 100%;
}

.review-name {
    color: #2A5F4F;
    font-size: 32px;
    margin: 0;
}

.review-service {
    color: #2A5F4F;
    font-size: 20px;
    margin: 0;
}

.review-text {
    font-family: "Inter";
    font-size: 24px;
    margin: 0;
}

.review-title-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.review-p {
    font-size: 24px;
    color: #2A5F4F;
    font-family: "Inter";
    margin: 0;
    max-width: 1130px;
    margin-right: 30px;
}

.reviews-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 32px;
    color: #2A5F4F;
}

.review-btn-wrapper {
    margin-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review-btn {
    color: #ffffff;
    font-size: 32px;
    background-color: #75ADFA;
    border-radius: 16px;
    padding: 25px;
}

.hero-info-sp {
    background-image: url('../public/Images/Service-hero.png');
    background-repeat: no-repeat;
    background-position: 90% 0%;
    width: 100%;
    padding: 50px 0px 300px 162px;
}

.hero-h1-sp {
    font-size: 48px;
    color: #75ADFA;
    margin: 0;
    margin-bottom: 20px;
}
.hero-h2-sp {
    font-size: 36px;
    color: #86BF88;
    margin: 0;
    margin-bottom: 20px;
    max-width: 474px;
}

.form-sp {
    padding: 50px 162px 50px 200px;
}

.description-block-sp {
    padding: 30px 60px;
    border-radius: 26px;
    background-color: #75ADFA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.description-sp {
    position: relative;
    background-color: #EAF1FF;
    height: 1px;
}
.description-wrapper-sp {
    position: absolute;
    max-width: 1000px;
    top: -150px;
    left: 0%;
    transform: translate(15%);
}

.main-left {
    width: 100%;
}

.description-p-sp {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 32px;
    margin: 0;
}

.services-sp {
    padding: 50px 0px 50px 162px;
    background-color: #EAF1FF;
}

.services-cards-sp {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.achivments-sp {
    padding: 50px 0px 20px 162px;
}

.checkmark {
    margin-right: 30px;
}

.achivments-text-sp {
    margin: 0;
    font-family: "Inter";
    font-size: 24px;
    color: #2A5F4F;
}

.achivments-block-sp {
    align-items: center;
    margin-bottom: 30px;
}

.work-sp {
    padding: 50px 0px 50px 162px;
}

.work-photo-wrapper-sp {
    display: grid;
    gap: 5px;
    grid-template-columns: 240px 240px 240px;
}

.form-wrapper-sp {
    position: sticky;
    width: 384px;
    top: 50px;
}